.success{
  padding: 110px;
  margin: 150px;
  background-color: #f9f8fd;
}
.heading{
  text-align: center;
}
.companies{
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}
.animation-container {
  width: 100px;
  height: 100px;
}


@media only screen and (max-width: 750px){
  .slog{
    font-size: 10px;
    color: red;
  }
  .animation-container{
    scale: 0.8;
  }
  .success{
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
  }
  /* .companies{
    flex-direction: column;
    align-items: center;
  } */
}
@media only screen and (max-width: 650px){

  .success{
    background-color: white;
  }
  .slog{
    font-size: 12px;
    text-align: center;
    color: red;
    margin-left: -180px;
  }
  .companies{
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 390px){
  .success{
    background-color: white;
  }
  .slog{
    font-size: 10px;
    text-align: center;
    color: red;
    margin-left: -200px;
  }
  .companies{
    display: flex;
    flex-direction: column;
    margin-left: -50px;
  }
}
