

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">Stepway</a>
     <!-- Button to toggle navigation links on smaller screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end margin" id="navbarSupportedContent" *ngIf="loggedRole == 'visitor'">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="courses">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="blogs">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item signUp">
          <a class="nav-link" routerLink="signup" >SignUp</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end margin" id="navbarSupportedContent" *ngIf="loggedRole == 'ADMIN'">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="admin-dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="courses">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="teachers">Teachers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="students">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="notice-board">Notice Board</a>
        </li>
        <li class="nav-item signUp">
          <a class="nav-link" routerLink="signup" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end margin" id="navbarSupportedContent" *ngIf="loggedRole == 'TEACHER'">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home">Teacher</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="courses">My Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">My Classes</a>
        </li>
        <li class="nav-item signUp">
          <a class="nav-link" routerLink="signup" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end margin" id="navbarSupportedContent" *ngIf="loggedRole == 'STUDENT'">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="student-dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="enrolled-coursess">My Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="courses">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="notice-board">Notice Board</a>
        </li>

        <li class="nav-item signUp">
          <a class="nav-link" routerLink="signup" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
