<div class="footer">
  <div class="about">
    <div class="logo tit">
      <h4>Stepway</h4>
    </div>
    <div class="slogan res">
      <h6>Where education meets <br>real-world needs.</h6>
    </div>
  </div>
  <div class="get">
    <div class="title tit">
      <h4>GET IN TOUCH</h4>
    </div>
    <div class="ceo res">
      <h6><i class="pi pi-envelope"></i> ahmedjameelgmail.com</h6>
    </div>
    <div class="co-founder res">
      <h6><i class="pi pi-envelope"></i> wajih-ul-hassan</h6>
    </div>
    <div class="team res">
      <h6><i class="pi pi-envelope"></i> raheelgmail.com</h6>
    </div>
    <div class="team2 res">
      <h6><i class="pi pi-envelope"></i> huzaifagmail.com</h6>
    </div>
  </div>
  <div class="connect">
    <div class="title tit">
      <h4>CONNECT WITH US</h4>
    </div>
    <div class="facebook res">
      <h6><i class="pi pi-facebook"></i> Facebook</h6>
    </div>
    <div class="Linkeldin res">
      <h6><i class="pi pi-linkedin"></i> Linkedin</h6>
    </div>
    <div class="youtube res">
      <h6><i class="pi pi-youtube"></i>  Youtube</h6>
    </div>
  </div>


</div>
<div class="copyright">
  <p>Copyright © 2024</p>
</div>
