<section class="container">
  <header>Registration Form</header>


  <form class="form">
    <div class="input-box">
      <label for="email" class="label">What is your email</label><br>
      <input class="inp" type="text" placeholder="Email" name="email" />
    </div>

    <div class="input-box">
      <label for="password" class="label">Password</label>
      <br>
      <input class="inp" type="text" placeholder="Password" name="password" />
    </div>
    <br>
    <!-- <input type="submit" value="Login" id="btn" class="submit-btn inp " /> -->
    <button type="submit" class="inp">Login</button>
  </form>
  <div class="last-section">
    <div class="cre">
      <p>Create Account</p>
    </div>
    <div class="frg">
      <p>Forget Your Password</p>
    </div>
  </div>
</section>
